<div class="grid-collection" id="main-layout-grid-colllection">
    <!-- grid for text in first row-->
    <div class="flex flex-wrap text-row  mb-6">
      <div class="w-4/5 sm:w-3/5 lg:w-2/5 xl:w-1/5 h-8">
        <div class="grid-wrapper">
          <div class="grid h-full  br">
  
          </div>
        </div>
      </div>
    </div>
  
    <!-- grid for the hero card layout grid-->
      <div class="grid-layout flex flex-wrap">
        <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/5 xl:w-2/4 mb-6 sm:mb-0" style="height: 504px;">
          <div class="grid-wrapper">
            <div class="grid h-full  br">
  
            </div>
          </div>
        </div>
  
        <div class="w-full sm:w-2/4 md:w-2/4 lg:w-3/5 xl:w-2/4">
          <div class="flex flex-wrap row mb-1">
            <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/4 xl:w-2/4 mb-6 sm:mb-0" style="height: 250px;">
              <div class="grid-wrapper">
                <div class="grid h-full  br">
        
                </div>
              </div>
            </div>
            <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/4 xl:w-2/4 mb-6 sm:mb-0" style="height: 250px;">
              <div class="grid-wrapper">
                <div class="grid h-full  br">
      
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="flex flex-wrap row mt-1">
            <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/4 xl:w-2/4 mb-6 sm:mb-0" style="height: 250px;">
              <div class="grid-wrapper">
                <div class="grid h-full  br">
        
                </div>
              </div>
            </div>
            <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/4 xl:w-2/4 mb-6 md:mb-0" style="height: 250px;">
              <div class="grid-wrapper">
                <div class="grid h-full  br">
      
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
        <!-- grid for text in second row-->
    <div class="flex flex-wrap text-row mt-10 mb-6">
      <div class="w-1/5 h-8">
        <div class="grid-wrapper">
          <div class="grid h-full  br">
  
          </div>
        </div>
      </div>
    </div>
  
    <!-- 
      w-full sm:w-full md:w-full lg:
      w-full sm:w-full md:w-full lg:
      w-full sm:w-full md:w-full lg:
      w-full sm:w-full md:w-full lg:
      w-full sm:w-full md:w-full lg:
      w-full sm:w-full md:w-full lg: 
    -->
  
    <!-- normal card grid -->
    <div class="flex flex-wrap -mx-4 row mb-6">
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid grid_nrml_crd  h-full  br rounded">
  
          </div>
        </div>
      </div>
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid grid_nrml_crd h-full  br rounded">
  
          </div>
        </div>
      </div>
  
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid grid_nrml_crd h-full  br rounded">
  
          </div>
        </div>
      </div>
  
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid grid_nrml_crd h-full  br rounded">
  
          </div>
        </div>
      </div>
  
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid grid_nrml_crd h-full  br rounded">
  
          </div>
        </div>
      </div>
  
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid  grid_nrml_crd  h-full  br rounded">
  
          </div>
        </div>
      </div>
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid grid_nrml_crd h-full  br rounded">
  
          </div>
        </div>
      </div>
  
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid grid_nrml_crd h-full  br rounded">
  
          </div>
        </div>
      </div>
  
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid grid_nrml_crd h-full  br rounded">
  
          </div>
        </div>
      </div>
  
      <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-8  px-4" style="height: 350px;">
        <div class="grid-wrapper  h-full">
          <div class="grid grid_nrml_crd h-full  br rounded">
  
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  