<nav id="category-navigation" class="fixed top-0 left-0 w-16 h-full overflow-y-scroll bg-gray-100 border-r border-gray-200 z-1000">
        

<footer class="absolute bottom-0 w-full cursor-pointer">
    <div class="h-app-header-height overflow-x-hidden category-list-block overflow-y-hidden">
        <ul class=" clearfix list-wrppr">
            <li class="inline-block float-left left-slot relative" id="help-feeds">
                <!-- <img src="http://placehold.jp/50x50.png"  style="height: 40px;" class="rounded-full inline-block" alt=""> -->
                <span class="text-center block"> 
                    <i class="appfonticon appfonticon-grid text-2xl text-white relative bg-top catgr-hero-icn-list"></i> </span>
            </li>
            <li class="inline-block  opacity-0 catgry-list-hero-name truncate w-48 underline" title="Recent Feeds">
                Add New Category
            </li>
        </ul>
    </div>
</footer>
<header class="h-app-header-height overflow-x-hidden overflow-y-hidden">
    <ul class="h-app-header-height relative clearfix"> 
        <li class="inline-block float-left">
            <a href="#" class="inline-block w-16 block h-16 text-center font-display  antialiased text-4xl relative  border-b border-gray-200" id="main-logo">
                <h2 class="h-full line-height-header">V</h2>
            
            </a>     
        </li>
        <li class="inline-block font-display line-height-header border-l border-gray-300">
            <span class="text-2xl pr-2 pl-3 py-2 text-black rounded text-black cursor-default"> Vue Radio</span>
            
            <!-- <span class="inline-block relative top-auto" style="top: 11px;color: #444;"><i class="appfonticon text-3xl appfonticon-hero-logo"></i></span> -->
        </li>
    </ul>
</header>
<div class="content-wrapper overflow-x-hidden cursor-pointer relative">
    <div class="h-app-header-height overflow-x-hidden category-list-block border-t border-gray-200 overflow-y-hidden">
        <a href={{HOME_PAGE}} data-navigo>
            <ul class=" clearfix list-wrppr">
                <li class="inline-block float-left left-slot relative " id="recent-all-feeds">
                    <!-- <img src="http://placehold.jp/50x50.png"  style="height: 40px;" class="rounded-full inline-block" alt=""> -->
                    <span class="text-center block"> 
                        <i class="appfonticon appfonticon-fire text-2xl text-white relative bg-top catgr-hero-icn-list"></i> </span>
                </li>
                <li class="inline-block  opacity-0 catgry-list-hero-name truncate w-48" title="Recent Feeds">
                    Recent Feeds
                </li>
            </ul>
        </a>
    </div>
    <div class="h-app-header-height overflow-x-hidden category-list-block  overflow-y-hidden">
        <a href={{VUE_PAGE}}>
            <ul class="clearfix list-wrppr">
                <li class="inline-block float-left left-slot" id="nuxt-feeds">
                    <!-- <img src="http://placehold.jp/50x50.png"  style="height: 40px;" class="rounded-full inline-block" alt=""> -->
                    <span class="text-center block"> 
                        <i class="appfonticon appfonticon-bookmark text-2xl text-white relative bg-top catgr-hero-icn-list"></i> </span>
                </li>
                <li class="inline-block  opacity-0 catgry-list-hero-name truncate w-48" title="Vue.js feeds"> 
                    Vue.js feeds
                </li>
            </ul>
        </a>

    </div>
    <div class="h-app-header-height overflow-x-hidden category-list-block  overflow-y-hidden">
        <a href={{NUXT_PAGE}}>
            <ul class="clearfix list-wrppr">
                <li class="inline-block float-left left-slot" id="gridsome-feeds">
                    <!-- <img src="http://placehold.jp/50x50.png"  style="height: 40px;" class="rounded-full inline-block" alt=""> -->
                    <span class="text-center block ">
                        <span class="catgr-hero-icn-list relative text-white text-xl font-bold">N</span>
                    </span>
    
                    
                </li>
                <li class="inline-block   opacity-0 catgry-list-hero-name truncate w-48">
                    Nuxt.js Feeds
                </li>
            </ul>
        </a>
       
    </div>
    <div class="h-app-header-height overflow-x-hidden category-list-block  overflow-y-hidden">
        <a href={{GRIDSOME_PAGE}}>
            <ul class="clearfix list-wrppr">
                <li class="inline-block float-left left-slot" id="blog-feeds">
                    <!-- <img src="http://placehold.jp/50x50.png"  style="height: 40px;" class="rounded-full inline-block" alt=""> -->
                    <span class="text-center block ">
                        <span class="catgr-hero-icn-list relative text-white text-xl font-bold">G</span>
                    </span>
                </li>
                <li class="inline-block  opacity-0 catgry-list-hero-name truncate w-48">
                    Gridsome Feeds
                </li>
            </ul>
        </a>
       
    </div>
   
</div>
</nav>