<div class="shimmer-collection" id="main-layout-shimmer-colllection">
  <!-- shimmer for text in first row-->
  <div class="flex flex-wrap text-row  mb-6">
    <div class="w-4/5 sm:w-3/5 lg:w-2/5 xl:w-1/5 h-8">
      <div class="shimmer-wrapper">
        <div class="shimmer h-full animate br">

        </div>
      </div>
    </div>
  </div>

  <!-- shimmer for the hero card layout grid-->
    <div class="grid-layout flex flex-wrap">
      <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/5 xl:w-2/4 mb-6 sm:mb-0" style="height: 504px;">
        <div class="shimmer-wrapper">
          <div class="shimmer h-full animate br">

          </div>
        </div>
      </div>

      <div class="w-full sm:w-2/4 md:w-2/4 lg:w-3/5 xl:w-2/4">
        <div class="flex flex-wrap row mb-1">
          <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/4 xl:w-2/4 mb-6 sm:mb-0" style="height: 250px;">
            <div class="shimmer-wrapper">
              <div class="shimmer h-full animate br">
      
              </div>
            </div>
          </div>
          <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/4 xl:w-2/4 mb-6 sm:mb-0" style="height: 250px;">
            <div class="shimmer-wrapper">
              <div class="shimmer h-full animate br">
    
              </div>
            </div>

          </div>
        </div>

        <div class="flex flex-wrap row mt-1">
          <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/4 xl:w-2/4 mb-6 sm:mb-0" style="height: 250px;">
            <div class="shimmer-wrapper">
              <div class="shimmer h-full animate br">
      
              </div>
            </div>
          </div>
          <div class="w-full sm:w-2/4 md:w-2/4 lg:w-2/4 xl:w-2/4 mb-6 md:mb-0" style="height: 250px;">
            <div class="shimmer-wrapper">
              <div class="shimmer h-full animate br">
    
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

      <!-- shimmer for text in second row-->
  <div class="flex flex-wrap text-row mt-10 mb-6">
    <div class="w-1/5 h-8">
      <div class="shimmer-wrapper">
        <div class="shimmer h-full animate br">

        </div>
      </div>
    </div>
  </div>

  <!-- 
    w-full sm:w-full md:w-full lg:
    w-full sm:w-full md:w-full lg:
    w-full sm:w-full md:w-full lg:
    w-full sm:w-full md:w-full lg:
    w-full sm:w-full md:w-full lg:
    w-full sm:w-full md:w-full lg: 
  -->

  <!-- normal card shimmer -->
  <div class="flex flex-wrap -mx-2 row mb-6">
    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd  h-full animate br rounded">

        </div>
      </div>
    </div>
    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br rounded">

        </div>
      </div>
    </div>

    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br rounded">

        </div>
      </div>
    </div>

    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br rounded">

        </div>
      </div>
    </div>

    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br rounded">

        </div>
      </div>
    </div>

    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer  shimmer_nrml_crd  h-full animate br rounded">

        </div>
      </div>
    </div>
    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br rounded">

        </div>
      </div>
    </div>

    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br rounded">

        </div>
      </div>
    </div>

    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br rounded">

        </div>
      </div>
    </div>

    <div class="w-full sm:w-2/4 md:w-2/6 lg:w-1/4 xl:w-1/5 mb-6  px-2" style="height: 350px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br rounded">

        </div>
      </div>
    </div>

  </div>

</div>
