#main-layout-shimmer-colllection {
	.br {
		border-radius: 8px;
	}

	.shimmer-wrapper {
		height: inherit;
	}

	.shimmer {
		margin: 0 3px;
		background: #ddd;
		-webkit-box-shadow: 0 1rem 2rem 0 rgba(255, 255, 255, 0.35);
		box-shadow: 0 1rem 2rem 0 rgba(255, 255, 255, 0.35);
		overflow: hidden;
		background: #ddd;
	}
}
