<div class="shimmer-collection" id="main-layout-shimmer-colllection">
  <!-- shimmer for text in first row-->
  <div class="flex text-row mt-4 mb-6">
    <div class="w-1/5 h-8">
      <div class="shimmer-wrapper">
        <div class="shimmer h-full animate br">

        </div>
      </div>
    </div>
  </div>

  <!-- shimmer for the hero card layout grid-->
    <div class="grid-layout flex">
      <div class="w-2/4" style="height: 650px;">
        <div class="shimmer-wrapper">
          <div class="shimmer h-full animate br">

          </div>
        </div>
      </div>
      <div class="w-2/4" style="height: 650px;">
        <div class="flex row mb-1">
          <div class="w-2/4" style="height: 325px;">
            <div class="shimmer-wrapper">
              <div class="shimmer h-full animate br">
      
              </div>
            </div>
          </div>
          <div class="w-2/4" style="height: 325px;">
            <div class="shimmer-wrapper">
              <div class="shimmer h-full animate br">
    
              </div>
            </div>

          </div>
        </div>

        <div class="flex row mt-1">
          <div class="w-2/4" style="height: 325px;">
            <div class="shimmer-wrapper">
              <div class="shimmer h-full animate br">
      
              </div>
            </div>
          </div>
          <div class="w-2/4" style="height: 325px;">
            <div class="shimmer-wrapper">
              <div class="shimmer h-full animate br">
    
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

      <!-- shimmer for text in first row-->
  <div class="flex text-row mt-10 mb-6">
    <div class="w-1/5 h-8">
      <div class="shimmer-wrapper">
        <div class="shimmer h-full animate br">

        </div>
      </div>
    </div>
  </div>

  <!-- normal card shimmer -->
  <div class="flex row mb-6">
    <div class="w-1/5" style="height: 250px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer  shimmer_nrml_crd  h-full animate br">

        </div>
      </div>
    </div>
    <div class="w-1/5" style="height: 250px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br">

        </div>
      </div>
    </div>

    <div class="w-1/5" style="height: 250px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br">

        </div>
      </div>
    </div>

    <div class="w-1/5" style="height: 250px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br">

        </div>
      </div>
    </div>

    <div class="w-1/5" style="height: 250px;">
      <div class="shimmer-wrapper  h-full">
        <div class="shimmer shimmer_nrml_crd h-full animate br">

        </div>
      </div>
    </div>

  </div>

    <!-- normal card shimmer -->
    <div class="flex row mb-6">
      <div class="w-1/5" style="height: 250px;">
        <div class="shimmer-wrapper  h-full">
          <div class="shimmer  shimmer_nrml_crd  h-full animate br">
  
          </div>
        </div>
      </div>
      <div class="w-1/5" style="height: 250px;">
        <div class="shimmer-wrapper  h-full">
          <div class="shimmer shimmer_nrml_crd h-full animate br">
  
          </div>
        </div>
      </div>
  
      <div class="w-1/5" style="height: 250px;">
        <div class="shimmer-wrapper  h-full">
          <div class="shimmer shimmer_nrml_crd h-full animate br">
  
          </div>
        </div>
      </div>
  
      <div class="w-1/5" style="height: 250px;">
        <div class="shimmer-wrapper  h-full">
          <div class="shimmer shimmer_nrml_crd h-full animate br">
  
          </div>
        </div>
      </div>
  
      <div class="w-1/5" style="height: 250px;">
        <div class="shimmer-wrapper  h-full">
          <div class="shimmer shimmer_nrml_crd h-full animate br">
  
          </div>
        </div>
      </div>
  
    </div>
</div>
