.br {
	border-radius: 8px;
}

.card {
	border: 2px solid #fff;
	background: #eee;
	padding: 30px 40px;
	width: 80%;
	margin: 50px 0px;
	width: 200px;
	height: 250px;
	border-radius: 1rem;
	-webkit-box-shadow: 0 1rem 2rem 0 rgba(255, 255, 255, 0.35);
	box-shadow: 0 1rem 2rem 0 rgba(255, 255, 255, 0.35);
	overflow: hidden;
	background: #f1f4f7;
}

.animate {
	animation: shimmer 2s infinite linear;
	background: linear-gradient(to right, #ddd 4%, #eee 25%, #eff1f3 36%);
	background-size: 1000px 100%;
}

@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}
	100% {
		background-position: 1000px 0;
	}
}
